.features{
    padding: 40px;
    background: linear-gradient(0deg, rgba(241, 246, 253, 0) 1.63%, #F1F6FD 20.5%, #F1F6FD 58.57%, #FFFFFF 100%);
}

.features__container{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(350px, 0.4fr));
    gap: 30px;
}

@media (min-width: 900px){  
    .features__container{
        grid-template-columns: repeat(2, 0.4fr);
    }
}
